@use './variables' as *;
@import './fonts.scss';

.wp-block-atera-compact-calculator{
    max-width: 100%;
    color: var(--main-color);
    padding: 80px 0;
    //background-color: #EDEDED; /*The backgroun will come from the site - Padding also*/
}

.atera-calc-wrapper {
    display: flex;
    font-family: 'Gellix', Inter,sans-serif;
    gap: 37px;
    max-width: 1401px !important;
    flex-direction: row;
    width: 100%;
    justify-content: center;

    @include respond-max(md){
        gap: 40px;
        flex-direction: column;
    }

    h2{
        font-family: 'Nekst', Inter, sans-serif;
        font-weight: 700;
        font-weight: Bold;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 0%;
        width: 100%;
        max-width: 447px;

        @include respond-max(sm){
            font-size: 40px;
            text-align: center;
            margin: 0 auto;
        }
    }

    p{
        margin: 0;
        display: flex;
        
        +p{
            padding-top: 5px;
            border-top: 1px solid var(--grey-light);
        }
    }

	.atera-sliders-zone{
        display: flex;
        flex-direction: row;
        gap: 26px;
        flex-grow: 1;

        @include respond-max(sm){
            flex-direction: column;
        }

        .atera-sliders{
            width: 64.5%;
            max-width: 565px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            border-radius: 20px;
            border-width: 1px;
            padding: 40px;
            border: 1px solid #1A1A1A;

            @include respond-max(sm){
                width: 100%;
                border: none;
                border-radius: 0;
                max-width: 100%;
                padding: 0;
                gap: 26px;
            }

            h3{
                font-weight: 600;
                font-size: 16px;
                line-height: 100%;
                margin-bottom: 0px;

                @include respond-max(sm){
                    text-align: center;
                }
            }
        }
        .slider-group {
            
             + .slider-group{
                margin-top: 19px;
            }

            label {
                display: block;
                font-size: 16px;
                font-weight: 400;
                color: var(--main-color);
                margin-bottom: 1px;
            }

            .atera-slider {
                -webkit-appearance: none;
                appearance: none;
                width: 100%;
                height: 2px;
                border: none;
                border-radius: 2px;
                background: #e1e1e1;
                outline: none;
                cursor: pointer;
                margin-bottom: 15px;
                transition: background 0.2s ease;
                box-shadow: none;

                // Track (WebKit)
                &::-webkit-slider-runnable-track {
                    -webkit-appearance: none;
                    height: 2px;
                    background: transparent;
                    border: none;
                    box-shadow: none;
                }

                // Thumb (WebKit)
                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    height: 16px;
                    width: 16px;
                    background: var(--slider-active);
                    border-radius: 50%;
                    border: none;
                    box-shadow: none;
                    margin-top: -7px;
                    cursor: pointer;
                    transition: all 0.2s ease;
                }

                // Thumb hover
                &::-webkit-slider-thumb:hover {
                    transform: scale(1.15);
                }

                // Firefox
                &::-moz-range-track {
                    background: transparent;
                    border: none;
                    box-shadow: none;
                }

                &::-moz-range-thumb {
                    height: 18px;
                    width: 18px;
                    background: var(--slider-active);
                    border-radius: 50%;
                    border: none;
                    box-shadow: none;
                    cursor: pointer;
                }

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }


            .slider-marks {
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                color: #666;
                span {
                    text-align: center;
                }
            }
        }

        .atera-results {
            background: var(--turquoise-dark);
            color: var(--grey-light);
            border-radius: 12px;
            padding: 40px;
            width: 35.5%;
            min-width: 333px;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            position: relative;
            align-content: space-between;
            display: flex;
            flex-wrap: wrap;
            gap: 40px;

            @include respond-max(sm){
                width: 100%;
                padding: 32px;
            }

            .atera-sum {
                font-family: 'Nekst';
                font-weight: 600;
                font-size: 56px;
                line-height: 100%;
                margin-bottom: 20px;
                margin-top: 11px;

                @include respond-max(sm){
                    font-size: 48px;
                }
            }

            .cta-btn {
                display: inline-block;
                width: 100%;
                min-height: 42px;
                background: var(--cta-btn);
                color: #fff;
                text-decoration: none;
                font-family: 'Nekst';
                font-weight: 500;
                font-size: 18px;
                line-height: 20px;
                text-align: center;
                padding: 11px 24px;
                margin-top: 24px;
                border-radius: 10px;
                transition: 0.3s;

                &:hover {
                    background: var(--cta-btn-hover);
                }
            }

            .bottom-zone{
                width: 100%;
            }

            .atera-costs {
                width: 100%;
                margin-top: 17px;
                line-height: 1.6;
                text-align: left;

                span {
                    display: flex;
                    flex-grow: 1;
                }
            }

            .note {
                position: absolute;
                bottom: -31px;
                color: var(--grey);
                font-weight: 400;
                font-size: 14px;
                line-height: 140%;
                text-align: right;
                right: 0;

                @include respond-max(sm){
                    width: 100%;
                    text-align: center;
                    display: block;
                }
            }
        }

    }
}

